.accordeon-item {
  position: relative;
  border-bottom: 1px solid #DCDCDC !important;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.accordeon-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 16px 0;
  cursor: pointer;
}

.accordeon-title {
  width: 100%;
  margin: 0 10px 0 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--font-color);
  transition: .3s;
}
.accordeon-btn {
  display: block;
  width: 50px;
  height: 50px;
  transition: transform .3s ease;
}

.accordeon-content {
  overflow: hidden;
  height: 0;
  transition: all .25s ease;

  p {
    margin-top: 16px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.25;
  }
}

.accordeon-open {
  .accordeon-btn {
    transform: rotate(45deg);
  }
  .accordeon-content {
    margin-bottom: 36px;
  }
}

@include mobile {
  .accordeon-header {
    padding: 10px 0;
  }
  .accordeon-title {
    font-size: 16px;
  }
  .accordeon-btn {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
  }
  .accordeon-content {
    p {
      font-size: 16px;
    }
  }
  .accordeon-open {
    .accordeon-content {
      margin-bottom: 16px;
    }
  }
}