/*-----buttons----*/
.button {
	display: inline-block;				
	align-items: center;
	justify-content: center;
	padding: 20px 40px;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.7px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--white-color);
	border-radius: 8px;
	height: 64px;
	border: 0;outline:none;
	background-color: var(--global-color);
	transition: all .3s ease-in;
	cursor: pointer;
	&:hover {
		color: var(--white-color);
		opacity: .85;
	}
	&.btn-o {
		color: var(--font-color);
		background-color: var(--orange-color);
		&:hover {
			color: var(--font-color);
		}
	}
}

.btn-reset {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: 0;outline: none;
	background: none;
}

.button-rounded {
	display: inline-block;				
	align-items: center;
	justify-content: center;
	padding: 10px 32px;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	text-decoration: none;
	color: var(--font-color);
	border-radius: 8px;
	border: 1px solid #FBBA06;
	outline:none;
	background-color: transparent;
	transition: all .3s ease-in;
	cursor: pointer;
	&:hover {
		color: var(--font-color);
		opacity: .85;
	}
	&.btn-o {
		border: 1px solid #FBBA06;
		&:hover {
			color: var(--font-color);
			background-color: var(--orange-color);
		}
	}
}

// .btn-icon {
// 	display: inline-flex;
// 	align-items: center;
// 	justify-content: center;
// 	text-align: center;
// 	width: 44px;
// 	height: 44px;
// 	outline: none;
//   border: 2px solid var(--white-color);
// 	border-radius: 14px;
//   background-color: var(--white-color);
// 	transition: .3s ease;
// 	cursor: pointer;
//   i {
//     font-size: 24px;
//     line-height: 1;
//     color: var(--violet-color);
// 		transition: .3s ease;
//   }
//   &:hover {
//     background-color: transparent;
// 		i {
// 			color: var(--white-color);
// 		}
//   }
// }