/*-----form-----*/
.form {
	&-accept {
    font-size: 12px;
    line-height: 15px;
    color: rgba(255,255,255,0.8);
		a {
			color: var(--orange-color);
		}
	}
}

label {
	display: block;
}
input {
  padding: 16px 20px;
  width: 100%;
  height: 56px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
	color: rgba(51, 51, 50, 0.7);
  border-radius: 10px;
  outline: none;border: 0;
  background: #FBFBFB;
  transition: .3s ease;
}
textarea {
	width: 100%;
	max-width: 100%;
	min-height: 140px;
	max-height: 500px;
	padding: 16px 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
	color: rgba(51, 51, 50, 0.7);
	box-sizing: border-box;
	border-radius: 10px;
	outline: none;border: 0;
	background: #FBFBFB;
	resize: none;
}

.wpcf7-spinner {
	display: none !important;
}

/* Checkbox */
.checkbox {
	display: block;
	cursor: pointer;
	user-select: none;
	position: relative;
	input[type=checkbox] {
		position: absolute;
		z-index: -1;
		opacity: 0;
		display: block;
		width: 0;
		height: 0;
	}
	span {
		display: inline-block;
		position: relative;
		padding: 0 0 0 30px;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: var(--white-color);
	}
	span:before {
		content: "";
		display: inline-block;
		position: absolute;
		left: 0;
		top: 0;
		width: 18px;
		height: 18px;
		border: 1px solid var(--white-color);
		border-radius: 4px;
		background-size: contain;
	}
	input[type=checkbox]:checked+span:before {
		background-image: url('../img/checked.svg');
	}
	/* Checked */
}