/*-----title----*/
.section-title {
	font-size: 56px;
	font-weight: 700;
	line-height: 1.25;
	color: var(--font-color);
	margin-bottom: 48px;
}
// .page-title {
// 	font-size: 34px;
// 	font-weight: 700;
// 	line-height: 1.2;
// 	color: var(--font-color);
// 	margin-bottom: 40px;
// }

@include desktop {
	/*-----title----*/
	.section-title {
		font-size: 48px;
		margin-bottom: 40px;
	}
}

@include tablet {
	/*-----title----*/
	.section-title {
		font-size: 28px;
		margin-bottom: 28px;
	}
}

@include mobile {
	/*-----title----*/
	.section-title {
		font-size: 24px;
		margin-bottom: 20px;
	}
}