.hero {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &__content {
    width: calc(62% - 15px);
    &-group {
      display: flex;
      margin-bottom: 24px;
    }
  }
  &__img {
    width: calc(38% - 15px);
  }
  &__title {
    margin-bottom: 20px;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.2;
  }
  &__text {
    margin-right: 30px;
    max-width: 440px;
    line-height: 1.3;
  }
  &__price {
    display: flex;
    font-weight: 700;
    font-size: 72px;
    line-height: 1;
    color: var(--global-color);
    span {
      margin-top: 8px;
      margin-left: 6px;
      font-size: 16px;
    }
  }
}

@include desktop {
  .hero {
    &__content {
      &-group {
        flex-direction: column;
      }
    }
    &__title {
      font-size: 36px;
    }
    &__text {
      margin-right: 0;
    }
    &__price {
      margin-top: 16px;
      font-size: 60px;
    }
  }
}

@include tablet {
  .hero {
    &__container {
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
    }
    &__content {
      width: 100%;
    }
    &__img {
      width: 100%;
      max-width: 300px;
      margin: 20px auto 0 auto;
    }
    &__title {
      margin-bottom: 8px;
      font-size: 28px;
    }
    &__price {
      font-size: 40px;
      span {
        margin-top: 4px;
        font-size: 12px;
      }
    }
  }
}