.howeduc {
  &__block {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    padding: 36px 28px 28px 28px;
    border: 1px solid rgba(110,60,145,0.3);
    border-radius: 20px;
    &:not(:last-child) {
      margin-bottom: 36px;
    }
    &-content {
      width: calc(50% - 15px);
    }
    &-img {
      width: calc(48% - 15px);
    }
    &-title {
      margin-bottom: 28px;
      font-size: 34px;
      font-weight: 700;
      line-height: 1.2;
      color: var(--font-color);
      span {
        color: var(--violet-color);
      }
    }
  }
}

@include tablet {
  .howeduc {
    &__block {
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      padding: 28px 20px 20px 20px;
      &-content {
        width: 100%;
      }
      &-img {
        width: 100%;
        max-width: 300px;
        margin: 20px auto 0 auto;
      }
      &-title {
        margin-bottom: 16px;
        font-size: 24px;
      }
    }
  }
}