/***** GENERAL ELEMENTS *****/
:root {
  --white-color: #ffffff;
  --black-color: #000000;

  --font-color: #333333;

  --global-color: #E7344C;
  --violet-color: #6D3E91;
  --orange-color: #FBBA06;

  --grey-color: #ededed;
}

/***** BLOCKS GLOBAL *****/
@import "general";
@import "blocks/buttons";
@import "blocks/title";
@import "blocks/form";

/***** SECTIONS GLOBAL (Widgets) *****/
@import "widgets/hero.scss";
@import "widgets/learn.scss";
@import "widgets/program.scss";
@import "widgets/whom.scss";
@import "widgets/howeduc.scss";
@import "widgets/book.scss";
@import "widgets/expenses.scss";
@import "widgets/mentors.scss";