/***** FONTS *****/
// @import "fonts";

/***** GENERAL ELEMENTS *****/
:root {
  // colors
  --white-color: #ffffff;
  --black-color: #35313F;

  --font-color: #333333;

  --global-color: #E7344C;

  --grey-color: #F3F3F3;
  --darkGrey-color: #A8A8A8;
}

/***** BLOCKS GLOBAL *****/
@import "general";
@import "blocks/buttons";
@import "blocks/title";
@import "blocks/card";


/***** COMPONENTS GLOBAL *****/

/***** SECTIONS GLOBAL (Widgets) *****/
@import "widgets/hero.scss";